NEYNAR_API_KEY=NEYNAR_FROG_FM
ANALYTICS_SALT=XXXXXXXXXXXXXXXXXXXXXXXXX
UPSTASH_REDIS_REST_URL=https://xxxxx-xxxxx-xxxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXX
YOGA_WHISTLES_BEARER=replace-with-your-private-bearer-token
YOGA_WHISTLES_ENDPOINT=https://whistles.artlu.xyz/graphql